


<div class="ui container">
    <div *ngIf="sucesso==true"  class="ui green message">{{mensagem}}</div>
    <div *ngIf="sucesso==false"  class="ui red message">{{mensagem}}</div>

  <h4 class="ui dividing header"><i class="users icon"></i>Perfis</h4>
  
  <table class="ui celled table">
    <thead>
      <th>Nome</th>
      <th>Descrição</th>
      <th>Mapeamento</th>
      <th></th>
    </thead>
    <tbody>
        <tr *ngFor="let lista of arrayListagem">
            <td>
                <h4 class="ui image header">
                    <i class="user icon"></i>
                    <div class="content">
                        {{lista.NomePerfil}}     
                    </div>
                </h4>
            </td>
            <td>
                {{lista.Descricao}}
            </td>
            
             <td>
                 <label  *ngFor="let list of lista.Url">
                    {{list.Nome}}-
                 </label>
            </td>
            <td>
                <i class="edit icon" (click)="edit(lista.IdPerfil,lista.NomePerfil,lista.Descricao)" *ngIf="editar==true" ></i>
                <i class="remove user icon" (click)="delete(lista.IdPerfil)" *ngIf="editar==true"></i>
            </td>


           

        </tr>
    </tbody>
  </table>
  <button id="bteste"(click)="criarPerfilRoute()"class="ui right floated button" *ngIf="criar==true" >Adicionar Perfil</button>
</div>

<router-outlet></router-outlet>