<style type="text/css">
    body {
      background-color: #F1F1F1;

    }
    body > .grid {
      height: 100%;
    }
    .image {
      margin-top: -50px;
    }
    .column {
      max-width: 450px;
    }

    p{
      color: red;
    }
  </style>

<body>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui medium image">
      <img src="../src/Images/logo_Iten_Assinatura-amarelo_preto.png" class="image">
    </h2>
    <h1 class="ui grey header">Recuperar Password - Email</h1>
    <div class="ui large form error">
      <div class="ui basic segment ">
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
            <input *ngIf="input==true"  [(ngModel)]="email" name="email" placeholder="E-mail" type="text">
            <div *ngIf="sucesso==true"  class="ui green message">Email enviado com sucesso!Dirija-se à sua caixa de correio para definir a nova password!</div>
          </div>
        </div>
        <p *ngIf="erro==true">{{mensagem}}</p>
        <div *ngIf="botaoEnviar==true"  class="ui fluid large button" (click)="onSubmit()">Enviar</div>
        <div *ngIf="botaoLogin==true"  class="ui fluid large button" (click)="login()">Voltar ao login</div>
      </div>
      <div class="ui error message"></div>

    </div>

  </div>
</div>


</body>