<style type="text/css">
  body {
    background-color: #F1F1F1;
  }

  body>.grid {
    height: 100%;
  }

  .image {
    margin-top: -50px;
  }

  .column {
    max-width: 450px;
  }

  p {
    color: red;
  }
</style>

<body>
  <div class="ui middle aligned center aligned grid">
    <div class="column">
      <h2 class="ui medium image">
        <img src="../src/Images/logo_Iten_Assinatura-amarelo_preto.png" class="image">
      </h2>
      <h1 class="ui grey header"><i class="lock icon"></i>Criar Nova Password</h1>
      <h5 class="ui grey header">

        <div *ngIf="sucesso==true" class="ui green message">{{mensagem2}}</div>
        <div *ngIf="sucesso==false" class="ui red message">{{mensagem2}}</div>

      </h5>

      <div class="ui large form error">
        <div class="ui basic segment ">
          <div class="field" *ngIf="input==true">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input [(ngModel)]="novaPassword" name="email" placeholder="Nova Password" type="password">
            </div>
          </div>
          <div class="field" *ngIf="input==true">
            <div class="ui left icon input">
              <i class="lock icon"></i>
              <input [(ngModel)]="confirmarNovaPassword" name="password" placeholder="Confirmar Nova Password" type="password">
              <div *ngIf="sucesso==true" class="ui green message">{{mensagem2}}</div>
              <div *ngIf="sucesso==false" class="ui red message">{{mensagem2}}</div>
            </div>
          </div>
          <p *ngIf="erro==true">{{mensagem1}}</p>
          <div *ngIf="botaocriar==true" class="ui fluid large button" (click)="onSubmit()">Criar</div>
          <div *ngIf="botaoLogin==true" class="ui fluid large button" (click)="voltar()">Voltar ao login</div>
        </div>
        <div class="ui error message"></div>

      </div>

    </div>
  </div>


</body>