<style type="text/css">
 p{
      color: red;
    }
</style>
<div id="criarPerfil" class="ui container">
  <div *ngIf="sucesso==true"  class="ui green message">{{mensagem}}</div>
  <div *ngIf="sucesso==false"  class="ui red message">{{mensagem}}</div>
  <form class="ui form" #f="ngForm" (ngSubmit)="onSubmit(f)">
    <h4 class="ui dividing header"><i class="add user icon"></i>Adicionar utilizador</h4>
    <label>Dados utilizador</label>
    <div class="field">
      <div class="three fields">
        <div class="field">
          <input type="text" name="nome" placeholder="Nome" ngModel>
        </div>
        <div class="field">
          <input type="text" name="email" placeholder="Email" ngModel>
        </div>
        <div class="field">
          <select class="ui fluid dropdown" (change)="onSelect($event.target.value)">
            <option [value]="cliente.Idcliente" [selected]="selectedCliente===cliente.Idcliente" *ngFor="let cliente of arrayClientes" >{{cliente.ClienteNome}} </option>
        </select>
        </div>
      </div>
    </div>
    <p *ngIf="camposvazios==true"> *Campo(s) Vazios! </p>
    <p *ngIf="emailInvalido==true"> *Email Inválido! </p>
    <div class="ui celled relaxed list">
      <i class="users icon"></i><label>Perfis</label>
      <p *ngIf="existemPerfis==false"> *Sem perfis Adicionados!</p>
      <div class="item">
        <div class="list">
          <div class="item" *ngFor="let perfis of arrayPerfis">
            <div class="ui child checkbox">
              <input type="checkbox" name="{{perfis.IdPerfil}}" ngModel>
              <label>{{perfis.NomePerfil}}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <p *ngIf="perfisVazios==true">*Tem de atribuir pelo menos um perfil ao utilizador!</p>
    <button *ngIf="botaoAdiconar==true" [disabled]="existemPerfis==false" class="ui right floated button" type="submit" >Adicionar</button>
    <button *ngIf="botaoVoltar==true"  class="ui right floated button" (click)="voltar()" type="submit">Voltar</button>
  </form>
</div>