<div class="ui container">
  <form class="ui form">
  <h4 class="ui dividing header"><i class="add user icon"></i>Adicionar utilizador</h4>
  <label>Dados utilizador</label>
  <div class="field">
    <div class="three fields">
      <div class="field">
        <input type="text" name="shipping[first-name]" placeholder="Nome">
      </div>
      <div class="field">
        <input type="text" name="shipping[first-name]" placeholder="Email">
      </div>
      <div class="field">  
        <select class="ui fluid dropdown">
        <option value="">Cliente</option>
        <option value="C">Cliente1</option>
        <option value="P">Cliente2</option>
        </select>
      </div>
    </div>
  </div>
  <div class="ui celled relaxed list">
  <i class="users icon"></i><label>Perfis</label>
  <div class="item">
    <div class="list">
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="apple">
          <label>Administrador Iten</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="apple">
          <label>Standard Iten</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="apple">
          <label>Administrador Cliente</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="apple">
          <label>Standard Cliente</label>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="ui right floated button">Adicionar</button>
</form>
</div>

