<style type="text/css">
 p{
      color: red;
    }
</style>
<div class="ui text container">
  <div *ngIf="sucesso==true"  class="ui green message">{{mensagem}}</div>
  <div *ngIf="sucesso==false"  class="ui red message">{{mensagem}}</div>
  <div class="ui form">
  <h4 class="ui dividing header"><i class="add user icon"></i>Adicionar Perfil</h4>
  <label>Dados Perfil</label>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <input type="text" name="nome" id="nome" placeholder="Nome do Perfil" [(ngModel)]="nome"> 
      </div>
      <div class="field">
        <input type="text" name="descricao" id="email" placeholder="Descrição" [(ngModel)]="descricao" >
      </div>
    </div>
  </div>
  <p *ngIf="sucesso1==false">{{mensagem1}}</p>
  <div class="ui celled relaxed list"  *ngFor="let i of arrayNovo">
    <label>{{i.descricao}}</label>
      <div class="item">
          <div class="list">
            <div class="item"*ngFor="let inf of i.infos">
              <div class="ui child checkbox">
                <input type="checkbox" [(ngModel)]="inf.selected" (change)="checkIfAllSelected(inf);">
                <label>{{inf.nome}}</label>
              </div>
            </div>
          </div>
      </div>
  </div>
    <p *ngIf="sucesso2==false">{{mensagem2}}</p>
<button *ngIf="adicionar==true"  class="ui right floated button" (click)="onSubmit()"button>Adicionar</button>
<button *ngIf="voltar==true"  class="ui right floated button" (click)="voltarBotao()"button>Voltar</button>
</div>
</div>

<!--<div class="ui text container">
  div class="ui form">
  <h4 class="ui dividing header"><i class="add user icon"></i>Adicionar Perfil</h4>
  <label>Dados Perfil</label>
  <div class="field">
    <div class="two fields">
      <div class="field">
        <input type="text" name="nome" id="nome" placeholder="Nome do Perfil" [(ngModel)]="nome"> 
      </div>
      <div class="field">
        <input type="text" name="descricao" id="email" placeholder="Descrição" [(ngModel)]="descricao" >
      </div>
    </div>
  </div>
  <div class="ui celled relaxed list">
  <div class="item" *ngFor="let i of arrayInfo" >
    <div class="ui master checkbox">
      <input type="checkbox"[(ngModel)]="i.selected">
      <label>{{i.nome}}</label>
    </div>
    <div class="list">
      <div class="item" *ngFor="let inf of i.urlchild" >
        <div class="ui child checkbox">
          <input type="checkbox" [(ngModel)]="inf.selected" (change)="checkIfAllSelected(i);">
          <label>{{inf.nomeUrlChild}}</label>
        </div>
      </div>
    </div>
  </div>
</div>
<button class="ui right floated button" (click)="onSubmit()"button>Adicionar</button>
  </div>
</div>

<div class="ui text container">
  
</div>-->



