<h3 class="ui center aligned header">Alterar Password de Utilizador</h3>
<div class="ui text container">
<div id="criarPerfil" class="ui form">
  <h4 class="ui dividing header"><i class="lock icon"></i>Alterar Password</h4>
  <label>Dados utilizador</label>
  <div class="field">
    <div class="three fields">
      <div class="field">
        <input type="password" name="nome" placeholder="Password Atual" [(ngModel)]="passwordAtual">
      </div>
      <div class="field">
        <input type="password" name="email" placeholder="Nova Password" [(ngModel)]="novaPassword">
      </div>
      <div class="field">
        <input type="password" name="email" placeholder="Confirmar Nova Password" [(ngModel)]="confirmarPassword">
      </div>
    </div>
<button class="ui right floated button" (click)="onSubmit()">Alterar</button>
</div>
</div>