<style type="text/css">
	  body {
	    background-color: #FFFFFF;
	  }
	  .ui.menu .item img.logo {
	    margin-right: 1.5em;
	  }
	  .main.container {
	    margin-top: 7em;
	  }
	  .wireframe {
	    margin-top: 2em;
	  }
    .ui.footer.form-page { 
    position: absolute;
    bottom: 0;
    width: 100%;
  }
	</style>
<body >
<nav *ngIf="mostrarMenu">
<div class="ui fixed inverted menu">
    <div class="ui container">
      <a routerLink="/home" class="header item">
        <img class="logo" src="../src/Images/logo_Iten_Assinatura-amarelo_preto.png">
        ITEN
      </a>
      <!--<a href="#" class="item">Encomendas</a>-->
      <div *ngFor="let item of categorias" >
        <div routerLink={{item.link}} class="ui simple dropdown item "> <!-- MENU COM DROP -->
          {{item.cat}} 
        </div>
      </div>




      <!--<div class="ui simple dropdown item "> 
        Serviços <i class="dropdown icon"></i>
        <div class="menu">
          	<a class="item" href="#">Menu1</a>
        </div>
      </div>
      <div class="ui simple dropdown item "> 
        Configurações <i class="dropdown icon"></i>
        <div class="menu">
          	<a class="item" routerLink="/perfis">Perfis</a>
            <a class="item" routerLink="configuracoes/mapasite">Mapa do Site</a>
            <a class="item" routerLink="/utilizadores">Utilizadores</a>
        </div>
      </div>-->
      <div class="ui simple dropdown item right"> <!-- MENU COM DROP -->
        {{nome}} <i class="user icon"></i>
        <div class="menu">
          	<a class="item" (click)="editarPerfil()">Editar Perfil</a>
            <div class="divider"></div>
            <a class="item" (click)="alterarPassword()">Alterar Password</a>
            <div class="divider"></div>
            <a class="item" (click)="logout()">Logout</a>
        </div>
      </div>
    </div>
</div>
</nav>
<router-outlet></router-outlet>
<div class="ui inverted vertical footer segment form-page">
  <div class="ui container">
    ITEN 2017. All Rights Reserved
  </div>
</div>
</body>



