
<h3 class="ui center aligned header">Mapa do Site</h3>
<div class="ui text container">
<div class="ui celled relaxed list">
  <i class="archive icon"></i><label>Encomendas</label>
  <div class="item">
    <div class="ui master checkbox">
      <label>Encomendas</label>
    </div>
    <!--<div class="list">
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="apple">
          <label>Encomendas</label>
        </div>
      </div>
    </div>-->
  </div>
  <i class="setting icon"></i><label>Serviços</label>
  <div class="item">
    <div class="ui master checkbox">
      <label>Serviços</label>
    </div>
    <div class="list">
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="spinach">
          <label>Serviço 1</label>
        </div>
      </div>
    </div>
  </div>
  <i class="settings icon"></i><label>Configurações</label>
  <div class="item">
    <div class="ui master checkbox">
      <label>Configurações</label>
    </div>
    <div class="list">
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="spinach">
          <label>Mapa do Site</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="spinach">
          <label>Perfis</label>
        </div>
      </div>
      <div class="item">
        <div class="ui child checkbox">
          <input type="checkbox" name="spinach">
          <label>Gestão de utilizadores</label>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="ui fluid large button">
          <!--<a class="item">Entrar</a>-->
          Gravar
        </div>
</div>