.ui.center.aligned.header{
    margin-top: 100px;
    }


.ui.archive.icon{
    padding-top: 20px;
}
.setting.icon{
    padding-top: 20px;
}

.settings.icon{
    padding-top: 20px;
}

.ui.text.container{
    margin-top: 50px;
}
